.home {
    width: auto;
    height: auto;
    font-family: var(--body-font);
}

.titulo {
    text-align: center;
    font-size: var(--normal-font-size);
    margin: 3rem;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products li {
    background-color: #292929;
    color: #FFF;

    border-radius: 0.5rem;
    text-align: center;
    list-style: none;
    margin: 0 1rem 2rem;
    width: 12rem;
    height: 12rem;
    font: 1rem 'Poppins', serif;
    font-weight: 700;
}

.products li .dadosItem {
    width: 12rem;
    height: 8rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.products li a {
    width: 12rem;
    height: 4rem;
    background-color: #292929;
    text-decoration: none;
    color: #FFF;

    border-top: solid 0.1rem white;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font: 1rem 'Poppins', serif;
    font-weight: 700;
} 

.products li a:hover {
    color: #292929;
    background-color: #7ec8da;
}

@media screen and (min-width: 768px) {
    .titulo {
        font-size: 3rem;
    }

    .products li {
        background-color: var(--corSecundaria);
        color: #FFF;
    
        border-radius: 0.5rem;
        text-align: center;
        list-style: none;
        margin: 0 1rem 2rem;
        width: 20rem;
        height: 20rem;
        font: 1rem 'Poppins', serif;
        font-weight: 700;
    }
    
    .products li .dadosItem {
        width: 20rem;
        height: 14rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        font-size: 1.25rem;
    }
    
    .products li a {
        width: 20rem;
        height: 6rem;
        background-color: var(--corSecundaria);
        text-decoration: none;
        color: #FFF;
    
        border-top: solid 0.1rem white;
    
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font: 1rem 'Poppins', serif;
        font-weight: 700;

        font-size: 1.25rem;
    } 
    
    .products li a:hover {
        color: var(--corSecundaria);
        background-color: var(--corPrimaria);
    }
}