/* ========== NAVBAR ============ */
  
.divNavBar, .show {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(var(--nav-width) + 156px);
    height: 100vh;
    background-color: var(--corPrimaria);
    padding: 1rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
  
.show {
    left: -30%;
    width: var(--nav-width);
}

@media screen and (min-width: 768px) {
    .divNavBar, .show {
        width: var(--nav-width);
        left: 0;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
        padding: 1rem 1rem 0 0;
    }
}