/* ============= NAVBAR LOGO ==================== */

.navBarLogo, .navBarLink, .navBarLogout, .navBarActive {
    height: 3rem;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
}

.navBarLogo {
    height: calc(var(--header-height) + 1rem);
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.navBarLogout {
    height: calc(var(--header-height) + 1rem);
}

/* ============ NAVBAR LINK */
  
.navBarLink, .navBarLogout, .navBarActive {
    position: relative;
    transform: 0.3s;
}
  
.navBarLink:hover, .navBarActive {
    border-left: 0.3rem solid white;
    background-color: var(--corSecundaria);
}

.navBarLinkName {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 700;
}
  
a {
    text-decoration: none;
}

/* ================= NAVBAR LOGOUT ================ */
  
.navBarLogout:hover {
    background-color: var(--corSecundaria);
    color: red;
    transition: 0.3s;
}