/* ============= NAVBAR LOGO ==================== */

.navBarLink, .navBarActive, .dropDownNavLink {
    height: 3rem;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.dropDownNavLink {
    justify-content: left;
    gap: 1.5rem;
    transition: 0.3s;
    border-left: 0.3rem solid white;
}

.dropDownNavLink:hover {
    background-color: var(--corSecundaria);
}

.container {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1.5rem;
    align-items: center;
    color: white;
}

/* ============ NAVBAR LINK */
  
.navBarLink:hover, .navBarActive {
    border-left: 0.3rem solid white;
    background-color: var(--corSecundaria);
}

.navBarLinkName {
    text-align: left;
    font-family: var(--body-font);
    font-size: calc(var(--normal-font-size));
    font-weight: 700;
}